<div class="entity-edit-container">

  <h2>
    {{ data.entity ? 'Editar Entidade' : 'Adicionar Entidade' }}
  </h2>
  <mat-dialog-content class="dialog-content">
    <form [formGroup]="entityForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="full-width">
        <mat-label>Nome Comercial</mat-label>
        <input matInput formControlName="businessName" placeholder="ex: AmorSaude Pinheiros">
        @if (entityForm.get('businessName')?.errors?.['required']) {
          <mat-error>
            A razão social é obrigatória.
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Nome Fantasia</mat-label>
        <input matInput formControlName="tradeName" placeholder="ex: AmorSaude Pinheiros">
        @if (entityForm.get('tradeName')?.errors?.['required']) {
          <mat-error>
            O nome fantasia é obrigatório.
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>CNPJ</mat-label>
        <input matInput mask="00.000.000/0000-00" formControlName="cnpj" placeholder="50.213.139/0001-77">
        @if (entityForm.get('cnpj')?.errors?.['required']) {
          <mat-error>
            O CNPJ é obrigatório.
          </mat-error>
        }
        @if (entityForm.get('cnpj')?.errors?.['invalidCnpj']) {
          <mat-error>
            CNPJ inválido.
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Especialidades</mat-label>
        <mat-select formControlName="medicalSpecialties" multiple>
          @for (specialty of medicalSpecialties; track specialty) {
            <mat-option [value]="specialty.value">
              {{ specialty.label }}
            </mat-option>
          }
        </mat-select>
        @if (entityForm.get('medicalSpecialties')?.errors?.['required']) {
          <mat-error>
            Selecione ao menos uma especialidade.
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Região</mat-label>
        <mat-select formControlName="region">
          @for (region of regions; track region) {
            <mat-option [value]="region.value">
              {{ region.label }}
            </mat-option>
          }
        </mat-select>
        @if (entityForm.get('region')?.errors?.['required']) {
          <mat-error>
            A região é obrigatória.
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Data de Inauguração</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="inaugurationDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        @if (entityForm.get('inaugurationDate')?.errors?.['required']) {
          <mat-error>
            A data de inauguração é obrigatória.
          </mat-error>
        }
      </mat-form-field>

      <mat-slide-toggle formControlName="isActive">Ativa</mat-slide-toggle>

      <div class="actions">
        <button mat-raised-button (click)="onCancel()" type="button">Cancelar</button>
        <button mat-raised-button color="primary" [disabled]="!entityForm.valid" type="submit">
          {{ data.entity ? 'Editar' : 'Adicionar' }}
        </button>

        @if (data.entity) {
          <button mat-raised-button color="warn" (click)="onDelete()">Excluir</button>
        }
      </div>
    </form>
  </mat-dialog-content>
</div>
